<p id="notice"><%= notice %></p>



<%if !@backhaul.nil? && @backhaul.bkh_type == 0%>

  <%if @backhaul.nil?%>
    <h1>Listing All Connections</h1>
  <%else%>
    <h2>Listing Connections for Backhaul: <font color="#FF0000"><%=@backhaul.name%></font></h2>
    
    <!-- here we expect counters of status and fibers to be updates -->
    
  
  <table>
     <caption>Summary</caption>
  <tr>
  <th>Connection Type</th>
  <th>Count</th>
  </tr>
  <tr>
    <td>Dark(Free) Connections</td>
    <td><%=@darkConns%></td>
  </tr>
  <tr>
    <td>Live Connections</td>
    <td><%=@liveConns%></td>
  </tr>
  <tr>
    <td>Reserved Connections</td>
    <td><%=@resrvConns%></td>
  </tr>
  
  <%if @otherConns >0 %>
  <tr>
    <td>Other(Unknown State) Connections</td>
    <td><%=@otherConns%></td>
  </tr>
  <%end%>
  
  </table>
    
  <%end%>
  
  
  <table class="tableIndex">
   <caption>Details</caption>
  
      <tr>
        <th> </th>
        <th>#</th>
        <th>Connection Name/ID</th>
        <th>Customer Name</th>
        <th>Start Point</th>
        <th>End Point</th>
        <th>Status</th>
        <th>Description</th>
        <th>Request Category</th>
        <th>Fiber Type</th>
        <th>Order Number (Zoho)</th>
        <th> </th>   <!--  colspan=2 -->
        </tr>
  
  
      <tr><%=@liveHTMLData.html_safe%></tr>
      <tr><%=@reservedHTMLData.html_safe%></tr>
      <tr><%=@darkHTMLData.html_safe%></tr>
      <tr><%=@unknownHTMLData.html_safe%></tr>
  
  </table>
  
  <br>
  
  
  
  <%= link_to 'Add New Connection', new_connection_path %>

<%else%> <!-- Feeder Cable....------------->
<h2>Listing Connections for Feeder: <font color="#FF0000"><%=@backhaul.name%></font></h2>

<h3>RFS Status: <%=@backhaul.rfs_status%></h3>

  <table class="tableIndex">
   <caption>Details</caption>


      <tr>
    	<th colspan="5" align="center">Building</th>
    	<th  colspan="6" align="center">Cable</th>
    	<th  colspan="6" align="center">GPON</th>
    	<th  colspan="6" align="center">P2P</th>
    	<th  colspan="1" align="center">Unknown</th>
    	<tr>  
      <tr>
        <th>#</th>
        <th>RFS</th>
        <th align="center">Building Name</th>
        <th>Home Passed</th>
        <th>Drop Fiber Type</th>
        <th>Total Implemented Fibers</th>
        <th>Total Live Fibers</th>
        <th>Total Reserved Fibers</th>
        <th>Total Allocated Fiber</th>
        <th>Remianing Fibers</th>
        <th>Percentage Allocated Fibers</th>
        <th>Total GPON Fibers</th>
        <th>Live GPON Fibers</th>
        <th>Reserved GPON Fibers</th>
        <th>Total Allocated GPON Fibers</th>
        <th>Remianing GPON Fibers</th>
        <th>% Allocated GPON Fibers</th>
        <th>Total P2P Fibers</th>
        <th>Live P2P Fibers</th>
        <th>Reserved P2P Fibers</th>
        <th>Total Allocated P2P Fibers</th>
        <th>Remianing P2P Fibers</th>
        <th>% Allocated P2P Fibers</th>
        <th>Unknown Fibers</th>
        
        <th> </th>   <!--  colspan=2 -->
        </tr>
  
      <tr><%=@liveHTMLData.html_safe%></tr>

  </table>
  
  <br>









<%end%>


<!-- Bootstrap tut:
https://launchschool.com/blog/integrating-rails-and-bootstrap-part-2 --> 