<p id="notice"><%= notice %></p>



<%if @backhaul.nil?%>
  <h1>Listing All Connections</h1>
<%else%>
  <h2>Listing Connections for Backhaul/Feeder: <font color="#FF0000"><%=@backhaul.name%></font></h2>
  
  <!-- here we expect counters of status and fibers to be updates -->
  

<table>
   <caption>Summary</caption>
<tr>
<th>Connection Type</th>
<th>Count</th>
</tr>
<tr>
  <td>Dark(Free) Connections</td>
  <td><%=@darkConns%></td>
</tr>
<tr>
  <td>Live Connections</td>
  <td><%=@liveConns%></td>
</tr>
<tr>
  <td>Reserved Connections</td>
  <td><%=@resrvConns%></td>
</tr>

<%if @otherConns >0 %>
<tr>
  <td>Other(Unknown State) Connections</td>
  <td><%=@otherConns%></td>
</tr>
<%end%>

</table>
  
<%end%>


<table class="tableIndex">
 <caption>Details</caption>
<!--to be formated nicely later. Looks that we need to customize bootstrap or css...not sure

http://getbootstrap.com/customize

    <col width ="100">
    <col width ="200">
    <col width ="100">
    <col width ="400">
    <col width ="100">
    <col width ="100">
    
    space: &nbsp;
    http://www.w3schools.com/css/tryit.asp?filename=trycss_table_align
-->

    <tr>
      <th> </th>
      <th>#</th>
      <th>Connection Name/ID</th>
      <th>Customer Name</th>
      <th>Start Point</th>
      <th>End Point</th>
      <th>Status</th>
      <th>Description</th>
      <th>Request Category</th>
      <th>Order Number (Zoho)</th>
      <th> </th>   <!--  colspan=2 -->
      </tr>



<!--
Need to add code to show details of connections:
  - fiber srtands attached to each connection
  - start location
  - end location
  ....
-->
  <!--Sort connection list: Live, Reserved, Dark, then "other" -->
  <%count=0%>
  <!-- 1. list the "Live" connections: -->
    <% @connections.each do |connection| %>

      <%next if connection.status.casecmp("Live")!=0%>
      <%customer = Customer.find_by_id(connection.customer_id)%>
      <%if customer.nil?%>
        <%cnam="--"%>
      <%else%>
        <%cnam=customer.name%>
      <%end%>
      
        <%firstPortID = connection.get_first_port%>
        <%if firstPortID>0 %>
          <%prt = Devport.find_by_id(firstPortID)%>
          <%locationA = Location.find_by_id(prt.location_id)%>
          <%locAname= locationA.name%>
        <%else%>
          <%locAname= "Not Found"%>
          <%locationA=nil%>
        <%end%>
        
        <%lastPortID = connection.get_last_port%>
        <%if lastPortID>0 %>
          <%prt = Devport.find_by_id(lastPortID)%>
          <%locationB = Location.find_by_id(prt.location_id)%>
          <%locBname= locationB.name%>
        <%else%>
          <%locBname= "Not Found"%>
          <%locationB=nil%>
        <%end%>

    <%count += 1%>      
        <tr>
          <td align="center"><%=image_tag("/images/red_light_st.png")%></td>
          <td align="left"><%=count%></td>
          <td align="center"><%= link_to connection.name, connection %></td>
          <td align="center"><%= link_to cnam, customer %></td>
          
          <%if !locationA.nil?%>
            <td align="center"><%=link_to locAname, locationA%></td>
          <%else%>
            <td align="center"><%=locAname%></td>
          <%end%>
          
          <%if !locationB.nil?%>
            <td align="center"><%=link_to locBname, locationB%></td>
          <%else%>
            <td align="center"><%=locBname%></td>
          <%end%>

          <td align="center"><font color ="OrangeRed"><%=connection.status%></font></td>
          <td align="left"><%=connection.description%></td>
          <td align="center"><%=connection.request_category%></td>
          <td align="center"><a href="http://10.50.100.10:8080/WorkOrder.do?woMode=viewWO&woID=<%=connection.request_id%>" target="_blank"><%=connection.request_id%></td>
          <%if (logged_in? && current_user.user_type<=1) %>
            <td><%= link_to image_tag("/images/Edit_s2.png"), edit_connection_path(connection)%></td> <!-- , class: 'btn btn-info btn-xs '  -->
           <!-- <td>< %= link_to image_tag("/images/Delete_s2.png"), connection, method: :delete, data: { confirm: 'Are you sure?' }%></td>  <!-- , class: 'btn btn-danger btn-xs ' -->
         <%end%>
        </tr>
    <% end %>
    

  <!-- 2. list the "Reserved" connections: -->
    <% @connections.each do |connection| %>

      <%next if connection.status.casecmp("Reserved")!=0%>
      <%customer = Customer.find_by_id(connection.customer_id)%>
      <%if customer.nil?%>
        <%cnam="--"%>
      <%else%>
        <%cnam=customer.name%>
      <%end%>
              <%firstPortID = connection.get_first_port%>
        <%if firstPortID>0 %>
          <%prt = Devport.find_by_id(firstPortID)%>
          <%locationA = Location.find_by_id(prt.location_id)%>
          <%locAname= locationA.name%>
        <%else%>
          <%locAname= "Not Found"%>
          <%locationA=nil%>
        <%end%>
        
        <%lastPortID = connection.get_last_port%>
        <%if lastPortID>0 %>
          <%prt = Devport.find_by_id(lastPortID)%>
          <%locationB = Location.find_by_id(prt.location_id)%>
          <%locBname= locationB.name%>
        <%else%>
          <%locBname= "Not Found"%>
          <%locationB=nil%>
        <%end%>

    <%count +=1 %>      
        <tr>
          <td align="center"><%=image_tag("/images/blue_light_s.jpg")%></td>
          <td align="left"><%=count%></td>
          <td align="center"><%= link_to connection.name, connection %></td>
          <td align="center"><%= link_to cnam, customer %></td>

          <%if !locationA.nil?%>
            <td align="center"><%=link_to locAname, locationA%></td>
          <%else%>
            <td align="center"><%=locAname%></td>
          <%end%>
          
          <%if !locationB.nil?%>
            <td align="center"><%=link_to locBname, locationB%></td>
          <%else%>
            <td align="center"><%=locBname%></td>
          <%end%>

          <td align="center"><font color="Blue"><%=connection.status%></font></td>
          <td align="left"><%=connection.description%></td>
          <td align="center"><%=connection.request_category%></td>
          <td align="center"><a href="http://10.50.100.10:8080/WorkOrder.do?woMode=viewWO&woID=<%=connection.request_id%>" target="_blank"><%=connection.request_id%></td>
          <td><%= link_to image_tag("/images/Edit_s2.png"), edit_connection_path(connection)%></td> <!-- , class: 'btn btn-info btn-xs '  -->
          <!-- <td>< %= link_to edit_connection_path(connection),class: 'btn btn-success'%></td> -->
          <!-- <td>< %= link_to image_tag("/images/Delete_s2.png"), connection, method: :delete, data: { confirm: 'Are you sure?' }%></td>  <!-- , class: 'btn btn-danger btn-xs ' -->
        </tr>
    <% end %>


  <!-- 3. list the "Dark" connections: -->
  <% @connections.each do |connection| %>
      <%next if connection.status.casecmp("Dark")!=0%>
      <%customer = Customer.find_by_id(connection.customer_id)%>
      <%if customer.nil?%>
        <%cnam="--"%>
      <%else%>
        <%cnam=customer.name%>
      <%end%>
        <%firstPortID = connection.get_first_port%>
        <%if firstPortID>0 %>
          <%prt = Devport.find_by_id(firstPortID)%>
          <%locationA = Location.find_by_id(prt.location_id)%>
          <%locAname= locationA.name%>
        <%else%>
          <%locAname= "Not Found"%>
          <%locationA=nil%>
        <%end%>
        
        <%lastPortID = connection.get_last_port%>
        <%if lastPortID>0 %>
          <%prt = Devport.find_by_id(lastPortID)%>
          <%locationB = Location.find_by_id(prt.location_id)%>
          <%locBname= locationB.name%>
        <%else%>
          <%locBname= "Not Found"%>
          <%locationB=nil%>
        <%end%>

    <%count +=1 %>
        <tr>
          <td align="center"><%=image_tag("/images/green_light_s.jpg")%></td>
          <td align="left"><%=count%></td>
          <td align="center"><%= link_to connection.name, connection %></td>
          <td align="center"><%= link_to cnam, customer %></td>

          <%if !locationA.nil?%>
            <td align="center"><%=link_to locAname, locationA%></td>
          <%else%>
            <td align="center"><%=locAname%></td>
          <%end%>
          
          <%if !locationB.nil?%>
            <td align="center"><%=link_to locBname, locationB%></td>
          <%else%>
            <td align="center"><%=locBname%></td>
          <%end%>

          <td align="center"><font color="ForestGreen"><%=connection.status%></font></td>
          <td align="left"><%=connection.description%></td>
          <td align="center"><%=connection.request_category%></td>
          <td align="center"><a href="http://10.50.100.10:8080/WorkOrder.do?woMode=viewWO&woID=<%=connection.request_id%>" target="_blank"><%=connection.request_id%></td>
          <td><%= link_to image_tag("/images/Edit_s2.png"), edit_connection_path(connection)%></td> <!-- , class: 'btn btn-info btn-xs '  -->
          <!-- <td>< %= link_to edit_connection_path(connection),class: 'btn btn-success'%></td> -->
          <!-- <td>< %= link_to image_tag("/images/Delete_s2.png"), connection, method: :delete, data: { confirm: 'Are you sure?' }%></td>  <!-- , class: 'btn btn-danger btn-xs ' -->
        </tr>
    <% end %>


  <!-- 4. list Any other connection: -->
    <% @connections.each do |connection| %>
      <%next if connection.status.casecmp("Live")==0%>
      <%next if connection.status.casecmp("Reserved")==0%>
      <%next if connection.status.casecmp("Dark")==0%>

      <%customer = Customer.find_by_id(connection.customer_id)%>
      <%if customer.nil?%>
        <%cnam="--"%>
      <%else%>
        <%cnam=customer.name%>
      <%end%>
        <%firstPortID = connection.get_first_port%>
        <%if firstPortID>0 %>
          <%prt = Devport.find_by_id(firstPortID)%>
          <%locationA = Location.find_by_id(prt.location_id)%>
          <%locAname= locationA.name%>
        <%else%>
          <%locAname= "Not Found"%>
          <%locationA=nil%>
        <%end%>
        
        <%lastPortID = connection.get_last_port%>
        <%if lastPortID>0 %>
          <%prt = Devport.find_by_id(lastPortID)%>
          <%locationB = Location.find_by_id(prt.location_id)%>
          <%locBname= locationB.name%>
        <%else%>
          <%locBname= "Not Found"%>
          <%locationB=nil%>
        <%end%>
      
        <%count += 1%>
        <tr>
          <td align="center" ><%=image_tag("/images/green_light_s.jpg")%></td>
          <td align="left"><%=count%></td>
          <td align="center"><%= link_to connection.name, connection %></td>
          <td align="center"><%= link_to cnam, customer %></td>

          <%if !locationA.nil?%>
            <td align="center"> <%=link_to locAname, locationA%> </td>
          <%else%>
            <td align="center"><%=locAname%></td>
          <%end%>
          
          <%if !locationB.nil?%>
            <td align="center"> <%=link_to locBname, locationB%> </td>
          <%else%>
            <td align="center"><%=locBname%></td>
          <%end%>

          <td align="center"><%=connection.status%></td>
          <td align="Left"><%=connection.description%></td>
          <td align="center"><%=connection.request_category%></td>
          <td align="center"><a href="http://10.50.100.10:8080/WorkOrder.do?woMode=viewWO&woID=<%=connection.request_id%>" target="_blank"><%=connection.request_id%></td>
          <td><%= link_to image_tag("/images/Edit_s2.png"), edit_connection_path(connection)%></td> <!-- , class: 'btn btn-info btn-xs '  -->
          <!-- <td>< %= link_to edit_connection_path(connection),class: 'btn btn-success'%></td> -->
          <!-- <td>< %= link_to image_tag("/images/Delete_s2.png"), connection, method: :delete, data: { confirm: 'Are you sure?' }%></td>  <!-- , class: 'btn btn-danger btn-xs ' -->
        </tr>
    <% end %>

  
</table>

<br>

<%= link_to 'Add New Connection', new_connection_path %>


<!-- Bootstrap tut:
https://launchschool.com/blog/integrating-rails-and-bootstrap-part-2 --> 