<%= form_for([@net_rack.location, @net_rack]) do |f| %>
  <% if @net_rack.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@net_rack.errors.count, "error") %> prohibited this net_rack from being saved:</h2>

      <ul>
      <% @net_rack.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :size %><br />
    <%= f.number_field :size %>
  </div>
  <div class="field">
    <%= f.label :size2 %><br />
    <%= f.number_field :size %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>