<p id="notice"><%= notice %></p>

<h3>Location Information for <%=@location.name%></h3>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>Type:</strong>
  <%= @location.location_type %>
</p>

<% if @location.net_racks.present? %>
  <h4>List of Net Racks in that location</h4>
  <% @location.net_racks.each do |nr| %>

    <p><%= link_to nr.name, location_net_rack_path(nr.location, nr) %></p>
    
  <% end %>
<% else %>
  <font size="1" color="red">No Net Racks in location <%=@location.name%></font><br>
<% end %>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Add New Rack', new_location_net_rack_path(@location) %> |
<%= link_to 'Back', locations_path %> 
